<h1 class="headedit">PrioriTeams</h1>
<a href="/signout" class="signoutbutton" aria-pressed="true">Sign out</a>
<nav id="nav-1">
    <a class="link-1" href="/main">Home</a>
    {{#if priority}}
        <a class="link-1" href="/create">Create Event</a>
        <a class="link-1" href="/adjustPriorities">Adjust Priorities</a>
    {{/if}}
    <a class="link-1" href="/events">View Events</a>
</nav>
{{#partial "content"}}



    <h1> Create an Event </h1>
    <form action="/create" method="post">
        <br />
        <p> Event Name <input type="text" placeholder="Event Name" name="eventname"> </p>
        <p> Location <input type="text" placeholder="Location" name="location"> </p>
        <p> Participants' Emails (Comma Separated!) <input type="text" placeholder="Emails" name="emails"></p>
        <p> <a> Duration </a> <select id="duration" name ="duration">
            <option disabled selected value></option>
            <option value = 60> 1 hour </option>
            <option value = 120> 2 hours </option>
            <option value = 180> 3 hours </option>
            <option value = 240> 4 hours </option>
            <option value = 300> 5 hours </option>
            <option value = 360> 6 hours </option>
            <option value = 420> 7 hours </option>
            <option value = 480> 8 hours </option>
        </select>
        </p>
        <br />
        <button>Create Event</button>
    </form>

    <h1>Possible Participants</h1>

    <ul style="font-size: 18px">
        {{#each personList}}
            <li> {{ name }}, {{ email }}, {{ username }} </li>
        {{/each}}
    </ul>
<br>
{{/partial}}

{{> base.hbs }}
