<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
    <link rel="stylesheet" href="login_page.css">
</head>
<body>

    <div class="login_page">
      <div class="form">
        <form class="register-form" action="/createaccount" method="post">
          <input type="text" name="personName" placeholder="name"/>
            <input type="text" name="personUsername" placeholder="username"/>
          <input type="password" name="personPassword" placeholder="password"/>
          <input type="text" name="personEmail" placeholder="email"/>
          <button>create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
      </div>
    </div>
</body>
</html>