{{#partial "content"}}
    <h1>All Events</h1>

    <ul>
        {{#each eventList}}
            <li> {{ eventName }} at {{ location }} for {{ duration }} minutes</li>
        {{/each}}
    </ul>

    <p><a href="/">Go back to home page.</a></p>
{{/partial}}

{{> base.hbs }}