{{#partial "content"}}
    <h1>All Events</h1>

    <ul style="font-size: 12px">
        {{#each eventList}}
            <li> {{ eventName }} at {{ location }} for {{ duration }} minutes with an optimal meeting time at {{ optimalTime }} </li>
        {{/each}}
    </ul>

    <form action="/events" method="post">
        <input type="text" placeholder="Enter Event ID" name="eId">
        <button>Calculate Optimal Time for this Event</button>
    </form>

<br>
    <p><a href="/events">View Events</a></p>
    <p><a href="/register"> Register for an Event</a></p>
    <p><a href="/">Home</a></p>
{{/partial}}

{{> base.hbs }}