{{#partial "title"}}
    <h1 class="headedit">Welcome to PrioriTeams!</h1>
{{/partial}}

{{#partial "content"}}

    <div class="form-actions">
        <a href="/main" class="btn btn-primary sunset_color white btn-lg active mb-3" role="button"
             aria-pressed="true"> Are you a Professor</a>
    </div>

    <h4 align="center">OR</h4>

    <div class="form-actions">
        <a href="/main" class="btn btn-primary btn-lg active mb-3" role="button"
            aria-pressed="true">Are you a Student?</a>
    </div>
    </body>
    </html>
{{/partial}}

{{> base.hbs }}