{{#partial "content"}}
<h1>Welcome to PrioriTeams!</h1>

<p><a href="/create">Create an Event</a></p>
<p><a href="/register">Register for an Existing Event</a></p>
<p><a href="/events">View Events</a></p>
</body>
</html>
{{/partial}}

{{> base.hbs }}