{{#partial "title"}}
    <h1 class="headedit">Welcome to PrioriTeams!</h1>
    <a href="/signout" class="signoutbutton" aria-pressed="true">Sign out</a>
{{/partial}}

{{#partial "content"}}

    {{#if priority}}
        <div class="form-actions">
            <a href="/create" class="test" aria-pressed="true">Create an Event</a>
        </div>
    {{/if}}
    <div class="form-actions">
        <a href="/register" class="test" aria-pressed="true">Register for an
            Existing Event</a>
    </div>
    <div class="form-actions">
        <a href="/events" class="test" aria-pressed="true">View Events</a>
    </div>

    </body>
    </html>
{{/partial}}

{{> base.hbs }}